*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    
}
#navbar{
    height: 20%;
    background-color: darkolivegreen;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    font-family: cursive;

}
#navbar a{
    color: white;
    text-decoration: none;

}
#navbar a:hover{
    text-decoration: underline;
}
#main{
    height: 80%;
    display: flex;

}
.box{
    height: 100%;
    width: 50%;
}
#box1{
    background-color:#A9A9A9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: cursive;
    
}
#box2{
    background-image: url(img/OIP.jpg);
}